body{
    background-color: #1d2236;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
.row{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
h1,h2{
    color: #fff3b3;
}
#create{
    all: unset;
    border: solid 2px #fff3b3;
    background-color: #fff3b3;
    padding: 20px;
    border-radius: 20px;
}
#create:hover{
   cursor: pointer;
}
input{
    all: unset;
    color: #fff3b3;
    text-align: center;
    padding: 20px;
    border: solid 2px #fff3b3;
    border-radius: 20px;
}