body{
    background-color: #1d2236;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
.row{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
h1,h2,h3{
    color: #fff3b3;
}
#create{
    all: unset;
    border: solid 2px #fff3b3;
    background-color: #fff3b3;
    padding: 20px;
    border-radius: 20px;
}
#create:hover{
   cursor: pointer;
}
#name{
  text-align: center;
}
input{
    all: unset;
    color: #fff3b3;
    text-align: center;
    padding: 20px;
    border: solid 2px #fff3b3;
    border-radius: 20px;
}

.window {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .chat {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  input {
    width: 80%;
    margin-right: 40px;
    padding: 20px;
    border-radius: 20px;
    background-color: unset;
    border: solid 2px fff3b3;
    border: solid 2px #fff3b3;
    color: #fff3b3;
    font-family: 'Kanit', sans-serif;
    text-align: left;
  }

  button{
    border: none;
    width: 20%;
background: #fff3b3;
text-align: center;
border-radius: 20px;
color: #1d2136;
font-family: 'Kanit', sans-serif;
font-size: 16px;
  } button:hover{
    cursor:pointer;
  }

  .userMessage{
    width: 100%;
    margin-bottom: 40px;
  }
  .myMessage{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    
    
  }
  .message{
    display: flex;
    font-family: 'Kanit', sans-serif;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
    color: white;
  }
  .userMessage{
    display: flex;
    font-family: 'Kanit', sans-serif;
    flex-direction: row;
    color: white;
  }
  .usersMessage p {
    border: solid 2px white;
    color: white;
    padding: 16px;
    border-radius: 20px;
  }
  .message p{
    background-color: lightblue;
    padding: 20px;
    color: #1d2136;
    border-radius: 20px;
    font-family: 'Kanit', sans-serif;
  }
  h4{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: rgb(169, 169, 169);
  }